.reports-main {
    max-width: 800px;
}

.section-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.card-reports {
    border-radius: 20px;
}

.card-stats {
    border-radius: 20px;
    width: 380px;
}

.card-stats p {
    font-size: 14px;
}

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-progress {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#C4C4C4 15% 30%, #394D2C 0% 15%, #6CC784 30% 100%);
}

.circle-progress::before {
    content: '';
    position: absolute;
    top: 10px;
    /* Adjust based on the size of the inner circle */
    left: 10px;
    /* Adjust based on the size of the inner circle */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}




.green-dot {
    background-color: #6CC784;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
}

.dark-dot {
    background-color: #2B522F;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
}

.grey-dot {
    background-color: #A4A5A7;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
}


.orage-dot {
    background-color: #FC7C54;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.darkgreen-dot {
    background-color: #34A474;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.darkgrey-dot {
    background-color: #7F7F7F;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}